<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-demo:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_mvc_demo_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-mvc-demo/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc-demo" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Mojarra-2.4.0" />
          <element id="library" level="project" name="OpenFaces-3.0" />
          <element id="library" level="project" name="Richfaces-4.2.2" />
          <element id="library" level="project" name="PrimeFaces-6.1" />
          <element id="library" level="project" name="JAX-WS-Glassfish / JAX-WS 2.2 RI / Metro 1.X / JWSDP 2.2" />
          <element id="library" level="project" name="spring-aop-5.3.9-javadoc" />
        </element>
      </element>
    </root>
  </artifact>
</component>